.showcase {
    display: grid;
    grid-template-columns: repeat(auto-fit, 15em);
    grid-gap: .5em;
    padding: 1em;
    margin: 0;
    list-style: none;
}

.showcase__item{
    border:solid 1px lightgray;
    border-radius: 2px;
    padding: 1em;
}

.showcase__item--featured{
    border-color: red;
    background: blue;
}