.menu{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    background-color: green;
}

.menu__options{
    display: flex;
    list-style: none;
    align-items: baseline;
}

.menu__button{
    background-color: grey;
    padding: .5em;
    color: white;
    border-radius: .4em;
}

.menu__link{
    text-decoration: none;
    margin: .5em;
    
}
.menu__title{
    text-decoration: none;
    margin: 0 .5em 0 0;
    color: black;
    font-size: 1.3em;
}

.search__form{
    display: inline-block;
    margin: 1em 5em 0 0;
}